Repository dsm23/dsm23-next-payloadcms-postgres-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

chore(csp): add content-security-policy
  src/app/(frontend)/layout.tsx
  src/collections/Media.ts
  src/middleware.ts
  src/providers/Theme/InitTheme/index.tsx
Due: eslint, prettier --check

ci(renovate): add minio docker images to renovate.json
  renovate.json
Due: prettier --check

chore(codeql): fix incorrect version label
  .github/workflows/codeql.yml
Due: prettier --check

ci(docker): add docker build check pipeline
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  src/env.d.ts
  src/payload.config.ts
Due: eslint, prettier --check

chore(deps): update node to v24.0.1
  .nvmrc
  Dockerfile
Due: none

chore(cssVariables): convert cssVariables to .ts
  src/cssVariables.ts
Due: eslint, prettier --check

ci(node setup): update node-based gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(import alias): add more import alias
  src/blocks/CallToAction/config.ts
  src/blocks/Content/Component.tsx
  src/blocks/MediaBlock/Component.tsx
  src/blocks/RelatedPosts/Component.tsx
  src/collections/Categories.ts
  src/collections/Media.ts
  src/collections/Pages/hooks/revalidatePage.ts
  src/collections/Pages/index.ts
  src/collections/Posts/hooks/revalidatePost.ts
  src/collections/Posts/index.ts
  src/collections/Users/index.ts
  src/payload.config.ts
  src/utilities/generate-meta/index.ts
  src/utilities/get-me-user/index.ts
  src/utilities/get-url/index.ts
  src/utilities/merge-open-graph/index.ts
Due: eslint, prettier --check

test(utilities): add more utilities tests
  src/components/BeforeLogin/test.tsx
  src/components/CollectionArchive/test.tsx
  src/utilities/can-use-dom/node.test.ts
  src/utilities/generate-meta/test.ts
  src/utilities/get-url/node.test.ts
  src/utilities/merge-open-graph/test.ts
  src/utilities/ui/test.ts
  src/utilities/use-debounce/test.ts
Due: eslint, prettier --check

fix(select field): missing default value in select field
  src/blocks/Form/Select/index.tsx
Due: eslint, prettier --check

fix(media): component failing when setting a custom serverURL
  src/components/Media/ImageMedia/index.tsx
  src/components/Media/VideoMedia/index.tsx
  src/utilities/get-media-url/index.ts
  src/utilities/get-media-url/test.ts
Due: eslint, prettier --check

fix(search): categories search sync
  src/payload-types.ts
  src/search/beforeSync.ts
  src/search/fieldOverrides.ts
Due: eslint, prettier --check

ci(codeql): add codeql for gh actions
  .github/workflows/codeql.yml
  .mergify.yml
Due: prettier --check

ci(docker): use specific alpine version
  Dockerfile
Due: none

ci(permissions): add missing permissions in gh actions
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(types): add typed-query-selector
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

ci(scorecard): add openssf scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

chore(tw-animate-css): replace tailwindcss-animate
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/globals.css
Due: prettier --check, stylelint --allow-empty-input

ci(corepack): remove corepack install in Dockerfile
  Dockerfile
Due: none

docs(security): add security policy
  SECURITY.md
Due: prettier --check

ci(dockerfile): remove specific alpine version
  Dockerfile
Due: none

docs(codeowners): add CODEOWNERS
  .github/CODEOWNERS
  .github/SECURITY.md
Due: prettier --check

chore(pnpm): add pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --check

ci(permissions): stricter gh actions permissions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/zizmor.yml
Due: prettier --check

chore(deps): update js unit test packages to v30
  package.json
  pnpm-lock.yaml
  src/utilities/get-media-url/test.ts
  src/utilities/get-url/port.test.ts
Due: eslint, prettier --check

chore(lefthook): replace husky with lefthook
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/unit-testing.yml
  .husky/commit-msg
  .husky/install.js
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  Dockerfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --check

chore(pnpm): remove default config option
  .npmrc
Due: none

chore(tailwind): migrate tailwind config to css
  src/app/(frontend)/globals.css
  stylelint.config.js
  tailwind.config.mjs
  tailwind.config.ts
Due: eslint, prettier --check, stylelint --allow-empty-input

fix(dockerignore): change tailwind config file extension
  .dockerignore
Due: none

test(fuzz): add fuzzing test to button
  .github/workflows/unit-testing.yml
  package.json
  pnpm-lock.yaml
  src/components/ui/button/fuzz.test.tsx
Due: eslint, prettier --check

test(fuzz): normalize whitespace set to false
  src/components/ui/button/fuzz.test.tsx
Due: eslint, prettier --check

chore(dev): add turbopack
  package.json
Due: prettier --check

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

chore(deps): update @types/node to v24.x.x
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(lefthook): remove glob pattern for prettier
  lefthook.yml
Due: prettier --check

chore(lefthook): add lefthook-local.yml to .gitignore
  .gitignore
  lefthook.yml
Due: prettier --check

test(cn): add unit and fuzz test to utilities/ui
  src/utilities/ui/fuzz.test.ts
  src/utilities/ui/test.ts
Due: eslint, prettier --check

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

ci(renovate): add custom manager for prettier and typescript
  prettier.config.js
  renovate.json
Due: eslint, prettier --check

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.css)) or (any of: **/*.{json,md,mdx,yml})
  stylelint --allow-empty-input: any of: **/*.css
