Repository dsm23/dsm23-next-payloadcms-postgres-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, stylelint --allow-empty-input

chore(turbopack): add turbopack to build script
  package.json
Due: prettier --check

chore(css): add more custom variants
  src/app/(frontend)/globals.css
Due: prettier --check, stylelint --allow-empty-input

ci(storybook): add smoke-test
  .github/workflows/smoke-test.yml
  .gitignore
  .mergify.yml
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/globals.css
  src/blocks/Form/Email/index.tsx
  src/components/ui/button/index.stories.tsx
  src/components/ui/button/index.tsx
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  vitest.config.ts
  vitest.shims.d.ts
Due: eslint, prettier --check, stylelint --allow-empty-input

ci(renovate): update config with storybook monorepo
  renovate.json
Due: prettier --check

ci(docker): simplify image name in pipeline
  .github/workflows/docker.yml
Due: prettier --check

chore(commitizen): remove commitizen
  .czrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(renovate): use renovate docker image instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

ci(bundle analysis): remove default working directory
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

ci(bundle analysis): remove SKIP_ENV_VALIDATION env
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

fix(next): update rest route handler types for Next.js 15.5 compatibility (#13521)
  src/app/(frontend)/next/preview/route.ts
  src/payload-types.ts
Due: eslint, prettier --check

chore(deps): update mcr.microsoft.com/playwright docker tag to v1.55.0
  .github/workflows/smoke-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

ci(renovate): add custom manager
  .github/workflows/nextjs_bundle_analysis.yml
  renovate.json
Due: prettier --check

chore(unit tests): migrate from jest to vitest
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
  .gitignore
  .stylelintignore
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/BeforeLogin/test.tsx
  src/components/CollectionArchive/test.tsx
  src/components/ui/button/fuzz.test.tsx
  src/components/ui/button/test.tsx
  src/components/ui/card/test.tsx
  src/components/ui/checkbox/test.tsx
  src/components/ui/input/test.tsx
  src/components/ui/label/test.tsx
  src/components/ui/pagination/test.tsx
  src/components/ui/select/test.tsx
  src/components/ui/textarea/test.tsx
  src/utilities/can-use-dom/node.test.ts
  src/utilities/can-use-dom/test.ts
  src/utilities/format-authors/test.ts
  src/utilities/format-date-time/test.ts
  src/utilities/generate-meta/test.ts
  src/utilities/generate-preview-path/test.ts
  src/utilities/get-media-url/test.ts
  src/utilities/get-url/node.test.ts
  src/utilities/get-url/port.test.ts
  src/utilities/get-url/test.ts
  src/utilities/merge-open-graph/test.ts
  src/utilities/to-kebab-case/test.ts
  src/utilities/ui/fuzz.test.ts
  src/utilities/ui/test.ts
  src/utilities/use-debounce/test.ts
  src/vitest.setup.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier --check

ci(storybook): add storybook build to build check pipeline
  .github/workflows/build.yml
Due: prettier --check

fix(templates): make images visible in live preview if it is not running on port 3000
  next.config.ts
Due: eslint, prettier --check

chore: fix pnpm 10 ignored build scripts warning
  pnpm-workspace.yaml
Due: none

fix(templates): wrong link in demo content (custom components)
  src/components/BeforeDashboard/index.tsx
  src/payload.config.ts
Due: eslint, prettier --check

chore(templates): only generate slug from title on demand
  src/fields/slug/SlugComponent.tsx
  src/fields/slug/formatSlug.ts
  src/fields/slug/index.scss
Due: eslint, prettier --check

chore(templates): uri encode the cacheTag in getMediaUrl utility
  src/utilities/get-media-url/index.ts
  src/utilities/get-media-url/test.ts
Due: eslint, prettier --check

chore(templates): fix experimental-build-mode compile generating invalid code
  src/utilities/get-url/index.ts
Due: eslint, prettier --check

feat(richtext-lexical): utility render lexical field on-demand
  next-env.d.ts
  src/blocks/Form/Component.tsx
  src/blocks/Form/Message/index.tsx
  src/blocks/RelatedPosts/Component.tsx
Due: eslint, prettier --check

chore: slug field
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/collections/Categories.ts
  src/collections/Pages/index.ts
  src/collections/Posts/index.ts
  src/endpoints/seed/index.ts
  src/fields/slug/SlugComponent.tsx
  src/fields/slug/formatSlug.ts
  src/fields/slug/index.scss
  src/fields/slug/index.ts
  src/hooks/formatSlug.ts
Due: eslint, prettier --check

chore(slugs): encoding and decoding slugs
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/[slug]/page.tsx
  src/app/(frontend)/posts/[slug]/page.tsx
  src/components/RichText/index.tsx
  src/utilities/generate-preview-path/index.ts
Due: eslint, prettier --check

chore(deps): update dependency prettier-plugin-tailwindcss to v0.7.1
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/globals.css
Due: prettier --check, stylelint --allow-empty-input

test(vitest): use more vitest utils
  src/components/ui/checkbox/test.tsx
  src/utilities/generate-meta/test.ts
  src/utilities/get-media-url/test.ts
  src/utilities/merge-open-graph/test.ts
Due: eslint, prettier --check

chore(ts): add json schema to tsconfig
  tsconfig.json
Due: prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

ci(renovate): explicitly group nextjs packages
  renovate.json
Due: prettier --check

chore(deps): update js unit test packages to v4
  package.json
  pnpm-lock.yaml
  src/components/ui/checkbox/test.tsx
  vitest.config.ts
Due: eslint, prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): remove minimumReleaseAgeNpm
  renovate.json
Due: prettier --check

chore(vitest): remove unused shim
  package.json
  pnpm-lock.yaml
  vitest.shims.d.ts
Due: eslint, prettier --check

chore(deps): update next.js to v16
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  eslint.config.js
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  redirects.js
  renovate.json
  scripts/reportBundleSize.js
  src/Footer/hooks/revalidateFooter.ts
  src/Header/hooks/revalidateHeader.ts
  src/collections/Pages/hooks/revalidatePage.ts
  src/collections/Posts/hooks/revalidatePost.ts
  src/hooks/revalidateRedirects.ts
  src/proxy.ts
  stylelint.config.js
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier --check

chore(deps): update dependency prettier to v3.7.1
  package.json
  pnpm-lock.yaml
  src/components/ui/button/index.tsx
Due: eslint, prettier --check

chore(prettier): simplify .prettierignore
  .prettierignore
  tsconfig.json
Due: prettier --check

chore(deps): remove @payloadcms/payload-cloud
  .gitignore
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/plugins/index.ts
Due: eslint, prettier --check

fix(images): allow images on local ip
  compose.yml
  next.config.ts
  src/app/(payload)/admin/importMap.js
  src/payload-types.ts
Due: eslint, prettier --check

chore(git): add importMap.js and payload-types.ts to .gitattributes
  .gitattributes
Due: none

chore(docker): ignore tests in docker
  .dockerignore
Due: none

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.css)) or (any of: **/*.{json,md,mdx,yml})
  stylelint --allow-empty-input: any of: **/*.css
